<%- include('partials/header') -%>
<h1>Home</h1>
<p class="post-content"><%=pageCont%></p>
<% posts.forEach((post)=>{ %>
    <div class="post-div">
        <a href="/posts/<%=post.postTitle%>"><h1><%=post.postTitle%></h1></a>
        <p class="post-content"><%=post.postContent%></p>
        <!-- <button onclick="delPost()">Delete</button> -->
    </div>
    <%})%>
<%- include('partials/footer') -%> 